﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Excelpayroll.aspx.cs" Inherits="Excelpayroll" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <style type="text/css">
        .CalendarCSS
           {
             background-color:White;
            color:Black;
            }
        </style>
</head>
<body>
   
</body>
</html>
